@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-color: #ded9c7;
  }
}

body {
  /* background: linear-gradient(135deg, #f0f9ff, #e0f7fa); */
  /* Bisa juga coba kombinasi lain */
  background: linear-gradient(120deg, #fef6f0, #f9e8e8);
  /* background: linear-gradient(160deg, #e0eafc, #cfdef3); */

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}